@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    /* background:linear-gradient(black,white); */
    background-image: url('new.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background: linear-gradient(rgb(0, 0, 0),purple); */
}

* {
    margin: 0;
    padding: 0;
}
nav {
    font-family: 'Ubuntu', sans-serif;
    /* position: sticky;
    top: 10px;
    height:px;
    width: 100%; */
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background: linear-gradient(rgb(81, 0, 255), rgb(4, 0, 0));
    /* color: rgb(0, 0, 0); */
    /* border: 2px solid black; */
    /* border-radius: 20px; */
}

nav ul li {
    padding: 0 12px;
    color: white;
}

nav ul a{
    text-decoration: none;
}
nav ul li:hover{
    /* color: white; */
    cursor: pointer;
}
.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 72vh;
    /* background-color: black; */
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    padding: 34px;
    background-image: url('dj.gif');
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
    border: 2px solid red;
    border-radius: 20px;
    /* borde */
    /* z-index: -3; */
    /* opacity:0.4; */

}

.bottom {
    position: sticky;
    bottom: 0;
    height: 125px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('bottom.gif');
    background-size:100% 100%;
    /* object-fit: cover; */
    /* background-repeat: round; */
    /* background-size: cover; */
}
.bottom a{
    text-decoration:none ;
    color: white;
}

/* .btm{
    display: flex;
    
    align-items: center;
    text-align: center;
    list-style-type: none;
} */

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
    color:rgb(167, 245, 0);
    /* border: 1px solid black; */
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
    /* background-color: rgb(0, 8, 255); */
}

.songItemContainer {
    margin-top: 74px;
}

.songItem {
    height: 50px;
    display: flex;
    /* background-color: white; */
    
    color: rgb(255, 255, 255);
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    border: 3px solid rgb(255, 1, 1);
    opacity: 0.65;
}

.songItem:hover{
    background-image: url('hover.gif');
    background-size: 100% 100% ;
    color: rgb(255, 255, 255);
    opacity: 1;
    border: 3px solid rgb(253, 252, 252);
    border-radius:37px;
    font-weight: bolder;
    font-style: italic;
    /* font-variant: normal; */

    /* font-display:; */
    /* width:; */
}


.songItem img {
    width: 43px;
    margin: 0 23px;
    border: 1px solid red;
    border-radius: 34px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    display: flex;
    align-items: center;
    list-style-type: none;
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {

}

h4{
    color: rgb(197, 237, 237);
}

